<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s198541.s198611.savingted" >

    <!--"@mipmap/ic_launcher"-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FrontPageMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:parentActivityName=".FrontPageMenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RulesActivity"
            android:parentActivityName=".FrontPageMenuActivity"
            android:label="@string/rules" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".FrontPageMenuActivity"
            android:label="@string/settings"
            android:theme="@style/preferencesStyle">
        </activity>
    </application>

</manifest>